<div class="profile staff">
  <img src="{{ image }}" alt="{{ first_name }} {{ last_name }} at UNT" />
  <div class="staff-info">
    <h2 class="staff-name">{{ first_name }} {{ last_name }}</h2>
    <p>
      <span class="staff-dept">{{ department }}</span><br />
      <span class="staff-title">{{ job_title }}</span><br />
      <span class="staff-email">{{ email }}</span><br />
      <span class="staff-phone">{{ phone }}</span><br />
      <span class="staff-office">{{ building }}, {{ office }}</span>
    </p>
  </div>
</div>
